/* This is where styles are defined for your page. */
/* One style is provided as example. */



li .poem {
    line-height: 5px;
}

img {
    height: 100px;
    width: 75%;
    border-color: black;
}


